{% extends "base.html" %}

{% block title %}TeamFlow - Профиль {{ user.username }}{% endblock %}

{% block main %}
<div class="profile-card">
    <h2>Профиль пользователя</h2>
    <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Роль:</strong>
        {% if user.role == 'manager' %}
            <span style="color: #e67e22;">Менеджер</span>
            <br><br>
            <a href='{{url_for('create_task')}}' class="btn">Создать задачу</a>
        {% else %}
            <span style="color: #2c3e50;">Исполнитель</span>
        {% endif %}
    </p>
</div>
{% endblock main %}